.back-button {
    margin: 20px 0;
}

.back-button a {
    font-size: 18px;
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.back-button a:hover {
    text-decoration: underline;
}
