* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li img.logo {
    width: 40px;  /* 调整Logo宽度为40px，适当缩小 */
    height: auto; /* 保持图片比例 */
    margin-right: 15px; /* 调整Logo和文本之间的间距 */
}

main {
    padding: 2rem;
}

h2 {
    font-size: 24px;
    margin-bottom: 1rem;
}

h3 {
    font-size: 20px;
    margin-top: 1.5rem;
}

article {
    margin-bottom: 1.5rem;
}

article h4 {
    font-size: 18px;
    margin-bottom: 0.5rem;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 1rem;
    margin-top: 2rem;
}
